@import "../../assets/sass/variables";

.changelanguage {
    line-height: 1.5em;
    margin-top: 4.5em;

    &__form {
        margin-top: 2em;
    }

    &__img {
        border-radius: .6em;
        width: 56px !important;
        height: 56px !important;
    }
    ion-thumbnail {
        min-width: 56px !important;
        min-height: 56px !important;
        max-width: 56px !important;
    }
    &__heading {
        padding: 1rem 1.75rem;
        border-bottom: 1px solid #e6e6e6;
        color: #384650;
        background-color: #e6e6e6;
    }

    &__langitem {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    &__langdetailview {
        // color: var(--primary);
        font-size: 1em !important;
        color: #000;
    }
    &__closecontainer{
        float: right;
        height: 3em;
        display: inline-block;
    }
    &__closeicon{
        background-color: transparent !important;
        color: #000;
        float: right;
        box-shadow: none;
    }
    &__icon{
        color: #000;
        font-size: 3em;
    }
    &__langlist {
            .item {
            }
    
    }
    .list-ios > .item-block:last-child,
    .list-ios > .item-wrapper:last-child .item-block {
      border-bottom: none;
    }
  
    .list-ios > .item-block:first-child {
      border-top: none !important;
    }
     .item-inner {
        border-bottom: none !important;
    }
    @media (max-width: map-get($grid-breakpoints, xl)) {
        .changelanguagebrowser {
            display: none;
        }
    }

    @media (min-width: map-get($grid-breakpoints, xl)) {
        .changelanguagemobile {
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            min-height: 100%;
            max-width: 960px;
            padding: 0 10px;
            margin: 0 auto;
        }
    }
}
