@import "../../assets/sass/variables";

.charthistorymodal {
    // background: $color-menu-gray !important;
    line-height: 1.5em;
    margin-top: 4em;
    font-size: $fontsize;
    font-size: var(--fontsize);
    font-weight: $fontweight;
    font-weight: var(--fontweight);

    &.header {
        padding: 1rem 1.75rem;
        border-bottom: 1px solid #e6e6e6;
        color: #384650;
        background-color: #e6e6e6;
        height: 4em !important;
    }

    .toolbar-title {
        color: #384650;
        margin-top: -1.3em !important;
    }

    &__closecontainer{
        float: right;
        height: 3em;
        display: inline-block;
    }
    &__closeicon{
        background-color: transparent !important;
        color: #000;
        float: right;
        box-shadow: none;
        background: transparent;
        box-shadow: none;
    }
    &__icon{
        color: #000;
        font-size: 3em;
    }
    &__heading {
        padding: 1rem 1.75rem;
        border-bottom: 1px solid #e6e6e6;
        color: #384650;
        background-color: #e6e6e6;
        text-transform: capitalize;
    }
    &__input {
        input, textarea {
            padding: 15px !important;
            font-weight: normal;
            background: #ecf0f2;
            color: #000;
            border-radius: .4em;
            width: 100% !important;
        }

    }
    &__label{
        font-weight: 350 !important;
        text-transform: capitalize;
    }
    .list-ios > .item-block:last-child,
    .list-ios > .item-wrapper:last-child .item-block {
      border-bottom: none;
    }
    .item-inner{
        border-bottom: none !important;
    }
    &__items{
        p{
            font-size: $fontsize;
            font-size: var(--fontsize);
            font-weight: $fontweight;
            font-weight: var(--fontweight);
        }
    }
    &__items:nth-of-type(even){
        background-color: #F5F5F5;
    }

    .list-ios > .item-block:first-child {
      border-top: none !important;
    }

}
