@import "../../assets/sass/variables";

.stress {
    // background: $color-menu-gray !important;
    background: $pagecontent;
    background: var(--pagecontent);
    color: #000; //var(--primary);
    line-height: 1.5em;
    margin-top: 3em;
    font-weight: $fontweight;
    font-weight: var(--fontweight);

    .detailspage {
        height: 100%;
        background: $color-background-gray;
    }

    .toolbar-background-md {
        background: $color-menu-gray;
    }

    .toolbar-title {
        color: $color-white;
    }

    &__content {
        width: 100%;
    }

    &__moreindication {
        border-left: 1px solid #e6e6e6;
        height: 4.3em;
        width: 22px;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        text-align: center;
        vertical-align: middle;
        display: inline-block;
    }

    &__sortbtnsctnr {}

    &__dots {
        text-align: center;
        vertical-align: middle;
        margin-top: 1.6em;
    }

    ion-thumbnail {
        min-width: 56px !important;
        min-height: 56px !important;
    }

    &__container {
        //margin-top: 50px;
   
    }

    &__content-container {
        margin-top: 3em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .item-inner {
        border-bottom: none !important;
    }

    .bar-button-default-md,
    .toolbar {
        color: $color-text-gray !important;
    }

    .back-button {
        color: $color-white !important;
    }

    .input-has-focus {
        border-bottom-color: none;
    }

    &__hide {
        display: none;
    }

    &__show {
        display: block;
    }

    &__searchbutton {
        background: var(--primary);
        color: var(--primarytext_color) !important; 
        width: 48%;
        border-color: var(--primary);
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }

    &__resetbutton {
        color: var(--primary);
        background:var(--primarytext_color) !important; 
        //  border-color: var(--primary);
        border: none;
        width: 48%;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }

    &__searchlist {
        -webkit-animation: textanimate 1s cubic-bezier(0.215, 0.61, 0.355, 1);
        animation: textanimate 1s cubic-bezier(0.215, 0.61, 0.355, 1);

        @-webkit-keyframes textanimate {
            from {
                opacity: .0;
                -webkit-transform: translateY(10px);
                transform: translateY(10px);
            }
        }

        @keyframes textanimate {
            from {
                opacity: .0;
                -webkit-transform: translateY(10px);
                transform: translateY(10px);
            }
        }

        .item-inner {
            display: none;
        }
    }

    &__slideitem {
        background: $color-white;
        color: $color-menu-gray;
        border-radius: 6px;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        overflow: hidden;
        transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
        cursor: pointer;
        margin-bottom: 1em;

        // .item::after {
        //     content: '...';
        //     color: #8e8e8e;
        //     padding-top: 1.5em;
        //     visibility: visible;
        // }

        &.active-slide {
            .item::after {
                visibility: hidden;
            }
        }
    }

    &__img {
        border-radius: .6em;
        width: 50px !important;
        height: 50px !important;
    }

    &__searchdetailview {
        //  color: var(--primary);
        color: #000;
    }

    &__item {
        margin-top: 0;
    }

    &__countinfo {
        text-align: center;
        font-size: 1.3em;
        color: $color-primary-gray;
        margin-top: -1em;
    }

    &__sortheading {
        //background: #F5F5F5;
        border-radius: 5px;
        font-size: 14px;
        height: 30px;
        vertical-align: middle;
        padding-left: 5px;
        padding-top: 5px;
    }

    &--movecontentTop {
        margin-top: -14.2em !important;
    }

    &__date-ctnr {
        color: #fff;
        border-radius: .6em;
        margin-right: 8px !important;

        // height: 3em;
        width: 2em;

        &--active {
            background: #00FF00;
        }

        &--inactive {
            background: #BEBEBE;
        }

        &--future {
            background: #488aff;
        }
    }

    &__dateitem {
        text-align: center;
        vertical-align: middle;
        padding-top: 10px; //.4em;
   
    }

    &__dateimg {
        background: url("../assets/icon/calendar.svg");
        height: .8em;
        width: .8em;
        position: absolute;
        margin-left: -2em;
    }

    &__date-day {
        font-size: 16px;
        width: 100%;
        float: left;
    }

    &__date-mnth {
        font-size: 16px;
        width: 100%;
        float: left;
    }

    &__date-year {
        font-size: 8px;
        width: 100%;
        float: left;
    }

    &__score {
        text-align: center;
        font-size: 1em !important;
    }

    &__scoreheading {
        text-align: center;
        font-size: 1em !important;
        font-weight: bold;
        text-transform: capitalize;
    }

    &__sortcontainer {
        height: 20px;
        text-align: left;
        background: #FCFCFD; //#fafafa;
   
    }

    &__cross {
        padding-top: 1px;
        margin-bottom: -10px;
        background-color: red;
        transform: translateX(20px);
        transform: translate(81%, -2%) rotate(49deg);
        position: absolute;
        height: 50px;
        width: 4px;
        margin-left: 0;
    }

    &__item {
        list-style: none;
        width: 100%;
        display: inline-block;
        float: left;
        list-style: none;
        padding-left: 0;
        border: 1px solid $menuinactive;
        border-radius: 10px;

        // min-height: 65px;
        // margin-bottom: 15px;
        // position: relative;
        // background-color: #fff;
        // border-radius: 6px;
        // box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        // overflow: hidden;
        // transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
   
    }

    &__sortbuttons {
        text-transform: none;
        font-size: 1em;
        min-width: 6em;
        float: left;
        min-width: 50%;
        height: 37px;
        text-align: center;
        padding: 8px;
        vertical-align: middle;
        line-height: 1.3;
        border-right: 1px solid $menuinactive;

        > i {
            margin-right: 10px;
        }

        @media (min-width: map-get($grid-breakpoints, xl)) {
            font-size: 1.1em;
            font-weight: 400;
        }

        &--slct {
            background: $primary;
            background: var(--primary) !important;
        }

        &__category {
            display: inline-block;
            width: 100%;
            border: 1px solid #cfcfcf;
        }

        &__labelheading {
            float: left;
            background: #cfcfcf;
            width: 100%;
            height: 27px;
            padding: 0;
            margin: 0;
        }

        &--inactive {
            // background: $menuinactive;
            // background: var(--menuinactive) !important;
       
        }

        &--active {
            background: $menuinactive;
            background: var(--menuinactive) !important;

            &:first-child {
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;
            }

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child {
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
            }

            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &:last-child {
            border-right: 0;
        }
    }

    &__smilectnr {
        // width: 20%;
        display: inline-block;
        float: left;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    &__smileyitem {
        height: 42px;
    }

    &__smileyimg {
        width: 28px !important;
        text-align: center;
        margin-left: 30%;
        height: 28px !important;
        border-radius: 100%;
        margin-top: 14px;

        &--good {
            background: #00FF00;
        }

        &--ok {
            background: #ffff00;
        }

        &--bad {
            background: #FF0000;
        }
    }

    &__callimg {
        width: 30px !important;
        text-align: center;
        margin-left: 30%;
        height: 30px !important;
        border-radius: 100%;
        margin-top: 14px;
        margin-left: 45%;
    }

    &__counceltxtctnr {
        min-width: 56px !important;
        min-height: 56px !important;
        display: inline-block;
        float: left;
        margin-top: 14px !important;
        margin-bottom: 0 !important;
        text-align: center;
        margin-right: 8px !important;

        > p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &--inactive {
            opacity: .2;
        }

        &--active {
            opacity: 1;
        }
    }

    &__counceldotsctnr {
        min-width: 30px !important;
        min-height: 56px !important;
        display: inline-block;
        float: left;
        margin-bottom: 0 !important;
        text-align: center;
        margin-right: 10px !important;
    }

    &__dots {
        font-weight: bolder;
        margin-top: 3px !important;
        font-size: 23px !important;
    }

    &__councelctnr {
        min-width: 56px !important;
        min-height: 56px !important;
        display: inline-block;
        float: left;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        text-align: center;
        margin-right: 8px !important;

        > p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &--inactive {
            opacity: .2;

            // ::before {
            //     position: absolute;
            //     content: "";
            //     left: 63%;
            //     top: 47%;
            //     right: 0;
            //     border-top: 1px solid;
            //     border-color: inherit;
            //     -webkit-transform: rotate(-5deg);
            //     transform: rotate(-28deg);
            //     color: red;
            //     left: 63%;
            //     width: 2em;
            // }
       
        }

        &--active {
            opacity: 1;
        }
    }

    &__infoctnr {
        display: inline-block;
        float: left;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        text-align: center;
    }

    ion-thumbnail.stress__councelctnr.stress__councelctnr--inactive:before {
        // position: absolute;
        // content: "";
        // left: 63%;
        // top: 47%;
        // right: 0;
        // border-top: 1px solid;
        // border-color: inherit;
        // -webkit-transform: rotate(-5deg);
        // transform: rotate(-28deg);
        // color: red;
        // left: 63%;
        // width: 2em;
   
    }

    &__wrapper {
        display: inline-block;
        float: left;
        width: 100%;
    }

    &__graphheading {
        font-size: 1em;
        width: 46%;
        padding: 0;
        margin: 0;
        float: left;
    }

    &__tooglecontainer {
        height: 3em;
        width: 34%;
        float: right;
        margin-right: 3em;
        border-radius: 2em;

        &--active {
            background: #00FF00;
        }

        &--inactive {
            background: #488aff;
        }
    }

    &__toogle-btn {
        height: 2.5em;
        width: 2.5em;
        background: #fff;
        border-radius: 100%;
        margin: .2em;
        float: left;
        transition-duration: 1s;

        &--active {
            transform: translateX(0em);
        }

        &--inactive {
            transform: translateX(7em);
        }
    }

    &__toogle-textList {
        text-align: center;
        color: #fff;
        line-height: 2em;
        font-size: 20px;
        padding: 0;
        margin: 0;
        transition-duration: 2s;

        &--active {
            animation: fadein 3s;
            -moz-animation: fadein 3s;

            /* Firefox */
            -webkit-animation: fadein 3s;

            /* Safari and Chrome */
            -o-animation: fadein 3s;

            /* Opera */
            text-overflow: ellipsis;
            overflow: hidden;

            //    margin-left: -0.3em;
            //margin-left: 0em;
            @keyframes fadein {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            @-moz-keyframes fadein {
                /* Firefox */
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            @-webkit-keyframes fadein {
                /* Safari and Chrome */
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            @-o-keyframes fadein {
                /* Opera */
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }
        }

        &--inactive {
            display: none;
            animation: fadeOut ease 5s;
        }
    }

    &__toogle-textGraph {
        text-align: left;
        color: #fff;
        line-height: 2em;
        font-size: 20px;
        padding: 0;
        margin: 0;
        transition-duration: 2s;

        &--active {
            animation: fadein 3s;
            -moz-animation: fadein 3s;

            /* Firefox */
            -webkit-animation: fadein 3s;

            /* Safari and Chrome */
            -o-animation: fadein 3s;

            /* Opera */
            text-overflow: ellipsis;
            overflow: hidden;

            //    margin-left: -0.3em;
            //margin-left: 0em;
            @keyframes fadein {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            @-moz-keyframes fadein {
                /* Firefox */
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            @-webkit-keyframes fadein {
                /* Safari and Chrome */
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            @-o-keyframes fadein {
                /* Opera */
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }
        }

        &--inactive {
            display: none;
            animation: fadeOut ease 5s;
        }
    }

    &__sharebtn {
        background: #F0F8FF;
        color: #696969;
        text-transform: capitalize;
        width: 5em;
        border-left: 1px solid #E8E8E8 !important;

        .icon {
            font-size: 24px;
        }
    }

    &__favbtn {
        background: #eafeea; // #ffe5e5;
        color: #696969;
        text-transform: capitalize;
        width: 5em;
        border-left: 1px solid #E8E8E8 !important;

        .icon {
            font-size: 24px;
        }
    }

    &__tabbutton {
        background-color: $color-highlight-gray !important;
        width: 100%;
        line-height: 2.8em;
        height: 2.8em;
        text-transform: inherit;
        box-shadow: none;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;

        .button-inner {
            justify-content: center;
            text-overflow: ellipsis;
            overflow-x: hidden;
            white-space: nowrap;
            display: block;
            text-align: center;
            font-size: 1.2em;
        }
    }

    &__dropdownList {
        margin-top: -3em;
    }

    &__label {
        font-size: 20px !important;
        color: #000 !important;
        font-weight: 300;
    }

    &__select {
        background: #ecf0f2;
        height: 3em;
        padding: 15px !important;
        border-radius: .4em;

        .select-text {
            font-weight: normal;
            color: #606060;
        }

        .select-icon {
            background: url("../assets/icon/arrowdown.svg");
            background-repeat: no-repeat;
            width: 24px;
            background-size: 1.4em;
        }

        .select-icon-inner {
            color: #ecf0f2 !important;
            top: 0 !important;
        }
    }

    .list-ios > .item-block:last-child,
    .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }

    .list-ios .item-block .item-inner {
        border-bottom: none !important;
    }

    .list-ios > .item-block:first-child {
        border-top: none !important;
    }

    @media (min-width: map-get($grid-breakpoints, xl)) {
        .searchmobile {
            // display: none;
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            min-height: 100%;
            max-width: 960px;
            padding: 0 10px;
            margin: 0 auto;
        }
    }

    &__show {
        display: block;
    }

    &__hide {
        display: none;
    }

    #chartdiv {
        height: 34em;
    }

    &__buttonlist {
        color: var(--primary) !important;
        border: none;
        background: var(--primarytext_color) !important; 
        width: 40%;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        float: left;
        text-transform: none;

        &--active {
            background: var(--primary) !important;
            color: var(--primarytext_color) !important; 
            border-color: var(--primary) !important;
        }

        .icon {
            margin-right: .4em;
            font-size: 2em;
        }
    }

    &__buttonchart {
        color: var(--primary) !important;
        border: none;
        background: var(--primarytext_color) !important; 
        width: 40%;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        float: right;
        text-transform: none;

        &--active {
            background: var(--primary) !important;
            color: var(--primarytext_color) !important; 
            border-color: var(--primary) !important;
        }

        .icon {
            margin-right: .4em;
            font-size: 2em;
        }
    }

    @media (max-width: map-get($grid-breakpoints, xl)) {}

    @media (min-width: map-get($grid-breakpoints, xl)) {
        .stressmobile {
            // display: none;
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            min-height: 100%;
            max-width: 960px;
            padding: 0 10px;
            margin: 0 auto;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, xxl)) {
    .stress {
        position: absolute;
        margin-top: 90px;
        height: 90%;

        &__back {
            display: none;
        }

        &__counceltxtctnr {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 15%;
        }
    }
}

// .alert-ios .alert-wrapper,
// .alert-md .alert-wrapper {
//     max-width: 96%;
// }

.alert-ios .alert-radio-label,
.alert-md .alert-radio-label {
    white-space: normal;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
}

.swiper-slide {
    height: 29em;
}

.swiper-wrapper {
    margin-top: -102px;
}

textarea {
    height: 10em;
}

//  .details .item-inner{
//  border: none;
//  }

ion-item-sliding.active-slide .item,
ion-item-sliding.active-slide .item.activated {
    margin-bottom: .1em;
}
