@import "../../assets/sass/variables";

.profile {
    line-height: 1.5em;
    margin-top: 70px;
    font-size: $fontsize;
    font-size: var(--fontsize);
    font-weight: $fontweight;
    font-weight: var(--fontweight);
    margin-bottom: 200px;

    .toolbar,
    .toolbar-title,
    .bar-button-default-md {
        color: $color-white !important;
        background-color: $primary;
        background-color: var(--primary);
    }

    .back-button {
        color: $color-white !important;
        background-color: $primary;
        background-color: var(--primary);
    }

    .scroll-content {
        overflow-y: auto !important;
    }

    &__line {
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        margin-bottom: .5em;
    }

    &__icon {
        color: var(--primary);
    }

    &__label {
        font-size: 15px !important;
        color: $color-dark-black !important;
        font-weight: 300;
    }
    &__userlabel {
        font-size: 15px !important;
        color: var(--primarytext_color) !important;
        font-weight: 300;
    }

    &__input {
        input, textarea {
            padding: 15px !important;
            font-weight: normal;
            background: #ecf0f2;
            color: #000;
            border-radius: .4em;
            width: 100% !important;
        }

        &--error {
            .text-input {
                border: 1px solid $color-error-red;
            }
        }
    }

    &__profileitem {
        background: var(--primary) !important;
        min-height: 65px;
        margin-bottom: 15px;
        position: relative;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        overflow: hidden;
        transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
        border: 0px !important;
    }

    ion-thumbnail {
        min-width: 56px !important;
        min-height: 56px !important;
    }

    &__img {
        border-radius:100%
    }

    .item-block, .item-inner {
        border: none !important;
        box-shadow: none !important;
    }

    &__logout {
        background: var(--primary) !important;
        color: var(--primarytext_color) !important;
        width: 100%;
        border-color: var(--primary) !important;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        margin-bottom: 400px;
    }

    &__save {
        background: var(--primary) !important;
        color: var(--primarytext_color) !important;
        width: 100%;
        border-color: var(--primary) !important;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }

    &__cancel {
        color: var(--primary) !important;
        border: none;
        background: var(--primarytext_color) !important;
        width: 100%;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        margin-bottom: 400px;
    }

    // setting desing
    &__container {
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }
    &__error {
        color: $color-error-red;
        font-size: 1em;
        text-align: center;
        margin: .2em;
    }

    &__category {
        text-align: left;
        float: left;
        color: #00003f;
    }

    &__accountcontainer {
        border-top: none;
        padding-top: 0;
        padding-bottom: 0;
    }
    &__item {
        min-height: 65px;
        margin-bottom: 15px;
        position: relative;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        overflow: hidden;
        transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &__headingicon {
        //color: #214D6E;// #214D6E;
        padding-right: .3em;
    }
    &__label {
        font-size: 15px !important;
        color: $color-dark-black !important;
        font-weight: 300;
    }

    &__icon {
        color: $primary;
    }

    &__view {
        font-size: 1em !important;
        color: var(--buttonspanelstext_color);
    }

    &__languagedit {
        position: absolute;
        float: right;
        margin-top: 16px !important;
        font-size: 20px !important;
        background-color: transparent;
        color: var(--buttonspanelstext_color);
        height: 50px !important;
        @media (max-width: map-get($grid-breakpoints, xxl)) {
            margin-left: 80% !important;
        }
        @media (min-width: map-get($grid-breakpoints, xxl)) {
            margin-left: 90% !important;
        }
    }

    &__edit {
        position: absolute;
        float: right;
        z-index: 99;
        font-size: 20px !important;
        margin-top: -30px !important;
        color: var(--buttonspanelstext_color);
        cursor: pointer;
        background-color: $color-white !important;

        &--active {
            color: var(--primary);
        }
        @media (max-width: map-get($grid-breakpoints, xxl)) {
            margin-left: 80% !important;
        }
        @media (min-width: map-get($grid-breakpoints, xxl)) {
            margin-left: 90% !important;
        }

    }


    @media (min-width: map-get($grid-breakpoints, xxl)) {
        .profilemobile {
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            min-height: 100%;
            max-width: 960px;
            padding: 16px;
            margin: 0 auto;
        }
    }
}
