.player {
    height: 100% !important;
    width: 100% !important;
}

/deep/ .player {
    height: inherit !important;
    width: inherit !important;
}

.vimeoplayer {
    height: calc(99.25vw);
}

#player {
    height: calc(99.25vw);
}