<header-viewer [hidemenu]="true" [pagetitle]="pagetitle" [showhome]="true" [topic]="slctopic">
</header-viewer>


<ion-content #detailsContent class="listdetails">
    <back-viewer [pagetitle]="heading"></back-viewer>

    <div *ngIf="isLoading === true" class="spinnercontainer">
        <ion-spinner name="ios"></ion-spinner>
    </div>
    <div class="listdetailsmobile" padding>
        <ng-template *ngIf="listcontent" ngFor let-contentitem [ngForOf]="listcontent" let-i="index" [ngForTrackBy]="trackByFn">
            <div class="listdetails__textcontent">
                <div id="{{i}}" *ngIf="contentitem.indexOf('<a')!==0" [innerHtml]="contentitem">
                </div>
                <div id="{{i}}" *ngIf="contentitem.indexOf('<a')==0">
                    <customanchor-viewer [content]="contentitem"></customanchor-viewer>
                </div>
            </div>
        </ng-template>
        <div class="listdetails__container" *ngIf="tabstoDisplay && tabstoDisplay.length>0">
            <ion-list class="listdetails__list">
                <ion-item-sliding class="listdetails__listitem" (click)="gotoDetails(item)" *ngFor="let item of tabstoDisplay; let i= index">
                    <ion-item>
                        <ion-thumbnail class="listdetails__listicon" item-start>
                            <i *ngIf="!(item.icon.includes('logo'))" class="{{item.icon}} fa-2x"></i>
                            <i *ngIf="(item.icon.includes('logo'))" class="fac customlogo fa-{{item.icon}} fa-2x"></i>
                        </ion-thumbnail>
                        <h2 class="listdetails__listitemheading">{{item.name}}</h2>
                        <ion-icon class="listdetails__externalicon" *ngIf="item.action==='externallink'" ios="ios-open-outline"></ion-icon>
                    </ion-item>
                </ion-item-sliding>
            </ion-list>
        </div>
    </div>
</ion-content>