<header-viewer *ngIf="ismenupage" [pagetitle]="title" [hidemenu]="true" [showhome]="true">
</header-viewer>
<header-viewer *ngIf="!ismenupage" [pagetitle]="title" [hidemenu]="false" [showhome]="false">
</header-viewer>


<ion-content overflow-scroll="true" class="termsconditions">
    <div *ngIf="isLoading === true" class="spinnercontainer">
        <ion-spinner name="ios"></ion-spinner>
    </div>
    <div class="termsconditionsmobile">
        <h1 *ngIf="termsmodel" padding class="termsconditions__heading">{{termsmodel.heading}}</h1>
        <div *ngIf="termsmodel">
            <div *ngIf="termsmodel.paragraphs" padding>
                <ng-template ngFor let-item [ngForOf]="termsmodel.paragraphs" let-i="index" [ngForTrackBy]="trackByFn">
                    <p *ngIf="i!=termsmodel.paragraphs.length-1" text-left [innerHTML]="item">
                    </p>
                </ng-template>
                <form [formGroup]="termsForm" class="termsconditions__form" (ngSubmit)="submitTerms()">
                    <ion-list>

                        <ion-item class="termsconditions__checkboxitem">
                            <ion-label class="termsconditions__checkboxlabel">{{termsmodel.checkboxcontent}}</ion-label>
                            <ion-checkbox [(ngModel)]="acceptermmodel" md="ios" formControlName="accepterm"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                    <div *ngIf="saveerror">
                        <div class="login__error">{{saveerrormessage}}</div>
                    </div>
                    <ng-container *ngIf="!ismenupage && termsdata">
                        <button ion-button type="submit"  [disabled]="!acceptermmodel" class="termsconditions__login-button">{{termsdata.continue}}</button>
                    </ng-container>
                </form>
                <div class="termsconditions__verison" *ngIf="appversion_number">Version: {{appversion_number}}</div>
            </div>
        </div>
    </div>
</ion-content>