<header-viewer [showback]="true">
</header-viewer>

<ion-content padding class="changepassword">
    <div *ngIf="isLoading === true" class="spinnercontainer">
        <ion-spinner  name="ios"></ion-spinner>
    </div>
    <div class="changepwdmobile">
        <div *ngIf="cp_content">
            <p text-left>{{cp_content.heading}}</p>
            <form [formGroup]="loginForm" class="changepassword__form" (ngSubmit)="gotologin()">
                <div>
                    <ion-list>
                        <ion-item>
                            <ion-label stacked class="changepassword__label">{{cp_content.password}}</ion-label>
                            <ion-input class="changepassword__input" clearOnEdit="false" clearInput="true" (keyup)="inputvalueChange()" type="password"
                                id="password" placeholder="{{cp_content.password}}"  [(ngModel)]="loginForm.password" formControlName="password"></ion-input>
                        </ion-item>
                        <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
                            <p class="login__error alert alert-danger" *ngIf="loginForm.controls.password.errors.Numbers">{{cp_content.hasnumbererror}}</p>
                            <p class="login__error alert alert-danger" *ngIf="loginForm.controls.password.errors.Lower">{{cp_content.haslowerrerror}}</p>
                            <p class="login__error alert alert-danger" *ngIf="loginForm.controls.password.errors.Upper">{{cp_content.hasuppererror}}</p>
                            <p class="login__error alert alert-danger" *ngIf="loginForm.controls.password.errors.long">{{cp_content.haslongerror}}</p>
                        </div>
                        <div class="login__line"></div>
                        <ion-item>
                            <ion-label stacked class="changepassword__label">{{cp_content.repeatpassword}}</ion-label>
                            <ion-input class="changepassword__input" clearOnEdit="false" clearInput="true" (keyup)="inputvalueChange()" type="password"
                                id="confirmPassword" placeholder="{{cp_content.repeatpassword}}" formControlName="confirmPassword"></ion-input>
                        </ion-item>
                        <div *ngIf="loginForm.controls.confirmPassword.invalid && (loginForm.controls.confirmPassword.dirty || loginForm.controls.confirmPassword.touched)">
                        <p class="login__error alert alert-danger" *ngIf="loginForm.controls.confirmPassword.errors && loginForm.controls.confirmPassword.errors.MatchPassword">
                            {{cp_content.errormessage}}</p>
                        </div>
                        <div class="login__line"></div>
                    </ion-list>
                </div>
                <p class="login__error" *ngIf="serviceerror && serviceerrormessage">{{serviceerrormessage}}</p>
                <button ion-button type="submit" [disabled]="!((loginForm.value.password  === loginForm.value.confirmPassword) && (loginForm.controls.password.errors === null) &&(loginForm.controls.confirmPassword.errors && !loginForm.controls.confirmPassword.errors.MatchPassword ) )"
                    class="changepassword__login-button">{{cp_content.save}}</button>
                <button color="secondary" ion-button type="button" (click)="resetForm()" class="changepassword__forgetpwd">{{cp_content.cancel}}</button>
            </form>
        </div>
    </div>
</ion-content>