<header-viewer [showback]="true">
</header-viewer>


<ion-content padding class="welcome">
    <div *ngIf="isLoading === true" class="spinnercontainer">
        <ion-spinner name="ios"></ion-spinner>
    </div>
    <div class="welcomemobile">
        <div *ngIf="welcomedata">
            <h4 *ngIf="heading">{{heading}}</h4>
            <div *ngIf="paragraphs" padding>
                <ng-template ngFor let-item [ngForOf]="paragraphs" let-i="index" [ngForTrackBy]="trackByFn">
                    <div class="welcome__item">
                        <div id="{{i}}" *ngIf="item.indexOf('<a')!==0 && item.indexOf('<iframe')==-1" [innerHtml]="item">
                        </div>
                        <div id="{{i}}" *ngIf="item.indexOf('<a')==0">
                            <customanchor-viewer [content]="item"></customanchor-viewer>
                        </div>
                    </div>
                </ng-template>
            </div>
            <span *ngIf="condition" class="welcome__condition">{{condition}}</span>
            <button class="welcome__gotologin" ion-button (click)="gotoLogin()" float-right color="secondary">{{continue}}</button>
        </div>
    </div>
</ion-content>