@import '../../assets/sass/variables';
.welcome {
    line-height: 1.5em;
    margin-top: 70px;
    font-size: $fontsize;
    font-size: var(--fontsize);
    font-weight: $fontweight;
    font-weight: var(--fontweight);
    margin-bottom: 400px;
    overflow: scroll;
    &__item {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    &__gotologin {
        background: $primary !important;
        background: var(--primary) !important;
        color: var(--primarytext_color) !important;
        min-width: 48%;
        margin-top: 0em;
        border-color: $primary !important;
        border-color: var(--primary) !important;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        margin-bottom: 300px;
    }
    .welcomemobile {
        overflow: scroll;
    }
    .welcomebrowser {
        max-width: 960px;
        padding: 16px;
        margin: 0 auto;
    }
    @media (max-width: map-get($grid-breakpoints, xxl)) {
        .welcomebrowser {
            display: none;
        }
    }
    @media (min-width: map-get($grid-breakpoints, xxl)) {
        .welcomemobile {
            // display: none;
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, .12);
            min-height: 100%;
            max-width: 960px;
            padding: 16px;
            margin: 0 auto;
        }
    }
}