@import "../../assets/sass/variables";

.nemid {
  margin-top: 4.8em;

  &__login-button {
    width: 100%;
    background: $color-primary-gray !important;
  }

  &__iframe {
    // height: 100%;
    // width: 100%;
  }

  &__container {
    width: 100%;
    height: 50em;
    overflow: scroll;
  }

  .nemidmobile {
    // display: none;
    box-shadow: 2px 4px 11px 4px rgba(56,70,80,.12);
    min-height: 100%;
    max-width: 960px;
    padding: 16px;
    margin: 0 auto;
  }
}
