<header-viewer [hidemenu]="false" [showback]="true">
</header-viewer>

<ion-content>
      <div class="nemid">
            <div class="nemidmobile">
                  <div text-center class="nemid__container">
                        <h5 *ngIf="heading">{{heading}}</h5>
                        <iframe *ngIf="iframenemidUrl" #iframe scrolling="no" allowfullscreen="true"
                              sandbox="allow-forms  allow-same-origin allow-popups allow-scripts allow-top-navigation"
                              allowtransparency="true"
                              style="width: 100%; height: 50%; margin: 0; padding: 0; border: none; background-color: transparent"
                              [src]="iframenemidUrl | safe: 'resourceUrl'">
                        </iframe>
                        <div *ngIf="serviceerror">
                              <div class="login__error">{{serviceerror}}</div>
                        </div>
                  </div>
            </div>
      </div>
</ion-content>