<header-viewer [hidemenu]="false" [showback]="true">
</header-viewer>


<ion-content class="idverify">
    <div class="idverifymobile">
        <div *ngIf="isLoading === true" class="spinnercontainer">
            <ion-spinner name="ios"></ion-spinner>
        </div>

        <div *ngIf="verifydata">
            <div padding>
                <h4>{{verifydata.heading}}</h4>

                <ng-template ngFor let-item [ngForOf]="verifydata.paragraphs" let-i="index" [ngForTrackBy]="trackByFn">
                    <p text-left>
                        {{item}}
                    </p>
                </ng-template>
                <button class="idverify__gotologin" ion-button (click)="gotoNemid()" float-right color="secondary">{{verifydata.continue}}</button>
            </div>
        </div>
    </div>

</ion-content>