@import "../../assets/sass/variables";

.idverify {
    line-height: 1.5em;
    margin-top: 70px;
    font-size: var(--fontsize);
    font-weight: $fontweight;
    font-weight: var(--fontweight);

    &__gotologin {
        background: $primary !important;
        background: var(--primary) !important;
        color: var(--primarytext_color) !important; 
        min-width: 48%;
        margin-top: 2em;
        border-color: $primary !important;
        border-color: var(--primary) !important;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        margin-bottom: 100px;
    }

    @media (min-width: map-get($grid-breakpoints, xxl)) {
        .idverifymobile {
            // display: none;
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            min-height: 100%;
            max-width: 960px;
            padding: 16px;
            margin: 0 auto;
        }
    }
}
