@import "../../assets/sass/variables";

@media (max-width: map-get($grid-breakpoints, xxl)) {
  .cookie {
    display: none;
  }
}

.cookie {
  background: #fff;
  position: absolute;
  bottom: 0;
  margin: 4em;
  box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);

 // color: var(--primarytext_color);

  &__maincontainer {
    text-align: center;
    float: left;
    display: inline-block;
    padding: .8em;
  }
  &__button {
    background: $primary !important;
    background: var(--primary) !important;
    //$color-primary-gray !important;
    color: $primarytext_color !important;
    color: var(--primarytext_color) !important;
    min-width: 100px;

  }
  &__footer{
    background: $color-white;
    width: 500px;
  }
  &__icon{
    width: 10em;
    float: left;
  }
  &__container{
    float: left;
    display: inline-block;
    color: $color-dark-black;
  }
  .hide{
    display: none;
  }
}
