<header-viewer [hidemenu]="true" [pagetitle]="pagetitle" [showhome]="true" [topic]="slctopic">
</header-viewer>

<ion-content class="questionairehistory">
    <back-viewer class="questionairehistory__back" [pagetitle]="heading"></back-viewer>
    <div class="stressmobile" *ngIf="questionairehistoryContent">
        <div *ngIf="isLoading === true" class="spinnercontainer">
            <ion-spinner  name="ios"></ion-spinner>
        </div>
        <div padding class="questionairehistory__buttonscontainer">
            <button (click)="showlist()" ion-button
                [ngClass]="!islist? 'questionairehistory__buttonlist': 'questionairehistory__buttonlist questionairehistory__buttonlist--active' "
                text-center>
                <ion-icon name="reorder" mode="md"></ion-icon>
                {{questionairehistoryContent.listview}}
            </button>

            <button (click)="showgraph()"
                [ngClass]="islist? 'questionairehistory__buttonchart': 'questionairehistory__buttonchart questionairehistory__buttonchart--active' "
                ion-button text-center>
                <ion-icon mode="md" name="pulse"></ion-icon>{{questionairehistoryContent.graphview}}
            </button>
        </div>
        <div [ngClass]="islist? 'questionairehistory__container questionairehistory__show': 'questionairehistory__container questionairehistory__hide'"
            padding>
            <div class="questionairehistory__category">
                <p class="questionairehistory__sortheading" text-left>
                    <ion-icon class="questionairehistory__headingicon" ios="ios-funnel-outline"></ion-icon>
                    {{questionairehistoryContent.sortby}}
                </p>
                <div class="questionairehistory__sortbtnsctnr">
                    <ul class="questionairehistory__item">
                        <li [ngClass]="(dateSorted===true)? 'questionairehistory__sortbuttons questionairehistory__sortbuttons--active':'questionairehistory__sortbuttons  questionairehistory__sortbuttons--inactive'"
                            (click)="sortbyDate()"><i class="far fa-sort-amount-up" *ngIf="ascdateOrder === true"></i>
                            <i *ngIf="ascdateOrder === false" class="far fa-sort-amount-down"></i>
                            {{questionairehistoryContent.date}}</li>
                        <li [ngClass]="(categorySorted===true)? 'questionairehistory__sortbuttons questionairehistory__sortbuttons--active':'questionairehistory__sortbuttons  questionairehistory__sortbuttons--inactive'"
                            (click)="sortbyCategory()"><i class="far fa-sort-numeric-up"
                                *ngIf="asccategoryOrder === true"></i><i *ngIf="asccategoryOrder === false"
                                class="far fa-sort-numeric-down"></i> {{questionairehistoryContent.category}}</li>
                        <!-- <li class="questionairehistory__sortbuttons">Status</li>  -->
                    </ul>
                </div>
            </div>
        </div>
        <div [ngClass]="islist? 'questionairehistory__show': 'questionairehistory__hide'" padding>
            <ion-list class="questionairehistory__searchlist" *ngIf="histroydataArray">
                <ng-template ngFor let-item [ngForOf]="histroydataArray" let-i="index" [ngForTrackBy]="trackByFn">
                    <ion-item-sliding #itemSlide class="questionairehistory__slideitem"
                        (ionDrag)="itemdraged($event, item, i,itemSlide)">
                        <ion-item #ionitem>
                            <ion-thumbnail
                                class="questionairehistory__date-ctnr questionairehistory__date-ctnr--inactive"
                                item-start>
                                <div *ngIf="item.date" class="questionairehistory__dateitem">
                                    <span class="questionairehistory__date-day">{{item.date.day}}</span>
                                    <span class="questionairehistory__date-mnth">{{item.date.month}}</span>
                                    <span class="questionairehistory__date-year">{{item.date.year}}</span>
                                </div>
                            </ion-thumbnail>
                            <!-- <ion-thumbnail class="questionairehistory__councelctnr" item-start>
                                 <span class="questionairehistory__cross" *ngIf="item.valid"></span>
                                <img class="questionairehistory__callimg" src="../assets/icon/callcenter.svg">
                            </ion-thumbnail> -->
                            <ion-thumbnail class="stress__smilectnr" item-start>
                                <div class="stress__smileitem">
                                    <img class="stress__smileyimg stress__smileyimg--{{item.icon}}"
                                        src="../assets/icon/smiley__{{item.icon}}.png">
                                </div>
                            </ion-thumbnail>

                            <ion-thumbnail class="questionairehistory__counceltxtctnr" item-start>
                                <p class="questionairehistory__scoreheading">
                                    {{questionairehistoryContent.category}}
                                </p>
                                <p class="questionairehistory__score">
                                    {{item.score}}
                                </p>
                            </ion-thumbnail>
                            <ion-thumbnail (click)="openModal(item)" class="questionairehistory__councelctnr"
                                item-start>
                                <div class="questionairehistory__smileitem">
                                    <img class="questionairehistory__smileyimg questionairehistory__smileyimg"
                                        src="../assets/icon/info2.png">
                                </div>
                            </ion-thumbnail>
                            <ion-thumbnail (click)="openItem($event,itemSlide, item,i)"
                                class="questionairehistory__counceldotsctnr" item-start>
                                <p *ngIf="item.showdots === true" class="questionairehistory__dots">
                                    ...
                                </p>
                            </ion-thumbnail>
                        </ion-item>
                        <ion-item-options side="right">
                            <button (click)="deleteItem(item)" ion-button class="questionairehistory__sharebtn">
                                <ion-icon color="danger" ios="md-trash" md="md-trash" name="trash"></ion-icon>
                                {{questionairehistoryContent.remove}}
                            </button>
                        </ion-item-options>
                    </ion-item-sliding>
                </ng-template>
            </ion-list>
        </div>
        <div *ngIf="histroyData && histroyData.result"
            [ngClass]="islist? 'questionairehistory__hide': 'questionairehistory__show'">
            <chart-viewer [chartdata]="histroyData.result"></chart-viewer>
        </div>
    </div>
</ion-content>