<header-viewer [hidemenu]="true" [pagetitle]="heading" [showhome]="true">
</header-viewer>


<ion-content padding class="configure">
  <div>
   <h5 padding>This is only for internal use and to test.</h5> 
    <ion-list *ngIf="appconfig">
      <ion-item>
        <ion-label color="dark" stacked>Corporate primary color </ion-label>
        <ion-input [ngStyle]="{'background-color': appconfig.primary_color}" disabled placeholder="{{appconfig.primary_color}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" stacked>Corporate contrast color</ion-label>
        <ion-input [ngStyle]="{'background-color': appconfig.primarytext_color}" disabled placeholder="{{appconfig.primarytext_color}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" stacked>Menu background color </ion-label>
        <ion-input [ngStyle]="{'background-color': appconfig.menuinactive_color}" disabled placeholder="{{appconfig.menuinactive_color}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" stacked>Button and panel color </ion-label>
        <ion-input [ngStyle]="{'background-color': appconfig.buttonspanels_color}" disabled placeholder="{{appconfig.buttonspanels_color}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" stacked>Content page background color </ion-label>
        <ion-input [ngStyle]="{'background-color': appconfig.pagecontent}" disabled placeholder="{{appconfig.pagecontent}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" stacked>Links color </ion-label>
        <ion-input [ngStyle]="{'background-color': appconfig.links}" disabled placeholder="{{appconfig.links}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" stacked>Gradient color </ion-label>
        <ion-input [ngStyle]="{'background': appconfig.gradient}" disabled placeholder="{{appconfig.gradient}}"></ion-input>
      </ion-item>

    </ion-list>
  </div>
</ion-content>