@import "../../assets/sass/variables";

.terms {
    line-height: 1.5em;
    margin-top: 4em;
    font-size: $fontsize;
    font-size: var(--fontsize);
    font-weight: $fontweight;
    font-weight: var(--fontweight);

    &.header {
        padding: 1rem 1.75rem;
        border-bottom: 1px solid #e6e6e6;
        color: #384650;
        background-color: #e6e6e6;
        height: 4em !important;
    }

    .toolbar-title {
        color: #384650;
        margin-top: -1.3em !important;
    }

    &__closecontainer {
        float: right;
        height: 3em;
        display: inline-block;
    }

    &__closeicon {
        background-color: transparent !important;
        color: #000;
        float: right;
        box-shadow: none;
        background: transparent;
        box-shadow: none;
    }

    &__icon {
        color: #000;
        font-size: 3em;
    }

    &__heading {
        padding: 1rem 1.75rem;
        border-bottom: 1px solid #e6e6e6;
        color: #384650;
        background-color: #e6e6e6;
    }

    &__label {
        font-weight: 350 !important;
        padding-right: 19px;
        margin-bottom: 0;
    }
    .list-ios > .item-block:last-child,
    .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }

    .item-inner {
        border-bottom: none !important;
    }

    &__formitem {
        p {
            // font-size: $fontsize;
            // font-size: var(--fontsize);
            // font-weight: $fontweight;
            // font-weight: var(--fontweight);
        }
    }

    &__formitem:nth-of-type(even) {
        background-color: #fafafa;
        border: 1px solid #fff;
    }
    &__formitem:nth-of-type(odd) {
        background-color: #e9e9e9;
        border: 1px solid #fff;
    }
   
    .list-ios > .item-block:first-child {
        border-top: none !important;
    }
}
