@import "../../assets/sass/variables";

.cpr {
  line-height: 1.5em;
  margin-top: 70px;
  font-size: $fontsize;
  font-size: var(--fontsize);
  font-weight: $fontweight;
  font-weight: var(--fontweight);

  &__login-button {
    width: 100%;
    background: var(--primary) !important;
    color: var(--primarytext_color)  !important; 
    border-color: var(--primary) !important;
    border-radius: 2em;
    box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
  }

  &__label {
    font-size: 15px !important;
    color: $color-dark-black !important;
    font-weight: 300;
  }

  &__input {
    input {
      padding: 15px !important;
      font-weight: normal;
      background: #ecf0f2;
      color: #000;
      border-radius: .4em;
    }
  }

  &__error {
    color: $color-error-red;
    font-size: 1em;
    text-align: center;
    margin: .2em;
    font-weight: 500;

  }

  .item-md.item-input.input-has-focus .item-inner,
  .item-md.item-input.item-input-has-focus .item-inner {
    box-shadow: none !important;
    border-bottom-color: none !important;
  }

  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    box-shadow: none !important;
    border-bottom-color: none !important;
  }

  .list-md .item-input.input-has-focus:last-child,
  .list-md .item-input.item-input-has-focus:last-child {
    box-shadow: none !important;
    border-bottom-color: none !important;
  }

  .item-datetime .label-md,
  .item-input .label-md,
  .item-select .label-md {
    border-bottom-color: rgb(166, 166, 166) !important;
  }

  .list-ios > .item-block:last-child,
  .list-ios > .item-wrapper:last-child .item-block {
    //border-bottom: none !important;
  }

  &__savemycpr {
    &.list-ios > .item-block:first-child {
      border-top: none !important;
    }

    &.list-ios > .item-block:last-child,
    .list-ios > .item-wrapper:last-child .item-block {
      border-bottom: none !important;
    }
  }

  .list-ios > .item-block:first-child {
    border-top: none;
  }

  .item-md.item-input.input-has-focus .item-inner,
  .item-md.item-input.item-input-has-focus .item-inner {
    box-shadow: $listitem-color-gray !important;
    border-bottom-color: $listitem-color-gray !important;
  }

  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    box-shadow: $listitem-color-gray !important;
    border-bottom-color: $listitem-color-gray !important;

  }

  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    box-shadow: inset 0 -1px 0 0 $listitem-color-gray !important;
    border-bottom-color: $listitem-color-gray !important;
  }

  .list-md .item-input.input-has-focus:last-child,
  .list-md .item-input.item-input-has-focus:last-child {
    box-shadow: $listitem-color-gray !important;
    border-bottom-color: $listitem-color-gray !important;

  }

  .item-datetime .label-md,
  .item-input .label-md,
  .item-select .label-md {
    border-bottom-color: rgb(166,166,166) !important;
  }

  .item-md.item-block .item-inner {
    border-bottom-color: 1px solid $listitem-color-gray !important;
  }

  .item-md {
    padding-left: 0;
  }

  .list-ios > .item-block:first-child {
    border-top: 0;
  }

  .item-ios {
    padding-left: 0;
  }

  .item-md.item-input.input-has-focus .item-inner,
  .item-md.item-input.item-input-has-focus .item-inner {
    box-shadow: none !important;
    border-bottom-color: none !important;
  }

  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    box-shadow: none !important;
    border-bottom-color: none !important;
  }

  .list-md .item-input.input-has-focus:last-child,
  .list-md .item-input.item-input-has-focus:last-child {
    box-shadow: none !important;
    border-bottom-color: none !important;

  }

  .item-datetime .label-md,
  .item-input .label-md,
  .item-select .label-md {
    border-bottom-color: rgb(166,166,166) !important;
  }
  .item-block, .item-inner {
    border: none !important;
    box-shadow: none !important;
}
  .item-md.item-block .item-inner {
    border-bottom-color: 1px solid $listitem-color-gray !important;
  }
  @media (max-width: map-get($grid-breakpoints, xxl)) {
    .cprbrowser {
      //  display: none;
    }
  }
  @media (min-width: map-get($grid-breakpoints, xxl)) {
    .cprmobile {
      box-shadow: 2px 4px 11px 4px rgba(56,70,80,.12);
      min-height: 100%;
      max-width: 960px;
      padding: 16px;
      margin: 0 auto;
    }
  }

}
