<div *ngIf="pagemenuButtons" class="leftmenu">
  <ng-template ngFor let-item [ngForOf]="pagemenuButtons" let-i="index" [ngForTrackBy]="trackByFn">
    <div class="leftmenu__item-container" >

      <button *ngIf="isgroupbuttons==false" (click)="detailsPage(item, i )" full [ngClass]="(i===itemIndex)? 'leftmenu__item-text leftmenu__item-text--active' : 'leftmenu__item-text'" ion-button round>
        <ion-icon class="leftmenu__externalicon" *ngIf="item.click_action==='externallink'" ios="ios-open-outline"></ion-icon>
        {{item.funktionsnavn}}
      </button>
      <button *ngIf="isgroupbuttons==true" (click)="detailsPage(item, i )" full [ngClass]="(i===itemIndex)? 'leftmenu__item-groupbutton leftmenu__item-groupbutton--active' : 'leftmenu__item-groupbutton'" ion-button round>
        <ion-icon class="leftmenu__externalicon" *ngIf="item.click_action==='externallink'" ios="ios-open-outline"></ion-icon>
          {{item.funktionsnavn}}
        </button>
    </div>
  </ng-template>
</div>