<header-viewer [hidemenu]="true" [pagetitle]="pagetitle" [showhome]="true" [topic]="slctopic">
</header-viewer>



<ion-content #contactPage [ngClass]="(isresultpage === true)? 'contact web' : 'contact'">
    <back-viewer class="contact__back" *ngIf="isresultpage === true" [pagetitle]="heading"></back-viewer>

    <div *ngIf="isLoading === true" class="spinnercontainer">
        <ion-spinner name="ios"></ion-spinner>
    </div>

    <div class="contactmobile">
        <h4 text-center>{{contactContent.heading}}</h4>
        <div *ngIf="contactContent">

            <div class="contact__page" *ngIf="contactForm && contactForm.get('items')" padding>

                <ion-list>
                    <ng-template ngFor let-item [ngForOf]="contactForm.get('items').controls" let-i="index" [ngForTrackBy]="trackByFn">
                        <ion-item *ngIf="item.value.type === 'input'">
                            <ion-label class="contact__label" stacked color="">{{item.value.name}}</ion-label>
                            <ion-input clearOnEdit="false" [(ngModel)]="item.value.value" [disabled]="item.value.readonly" clearOnEdit="false" *ngIf="item.value.ld_brugervendtnoegle != 'telefon' && item.value.ld_brugervendtnoegle != 'surveyscore' && item.value.ld_brugervendtnoegle != 'cpr'"
                                (focus)="ScrollInput()" [ngClass]="(!item.value.value && item.value.required==='true' && submited===true)? 'contact__input contact__input--error':'contact__input'" type="text" placeholder="{{item.value.name}}">{{item.value.required}}
                            </ion-input>
                            <ion-input clearOnEdit="false" [(ngModel)]="item.value.value" [disabled]="item.value.readonly" *ngIf="item.value.ld_brugervendtnoegle === 'telefon'" [ngClass]="(!item.value.value && item.value.required==='true' && submited===true)? 'contact__input contact__input--error':'contact__input'"
                                type="tel" placeholder="{{item.value.name}}">
                                {{item.value.required}}
                            </ion-input>
                            <ion-input clearOnEdit="false" [(ngModel)]="item.value.value" [disabled]="item.value.readonly" (focus)="ScrollInput()" *ngIf="item.value.ld_brugervendtnoegle === 'cpr'" (keyup)="validateCpr($event,item)" [ngClass]="((!item.value.value || cprinvaliderror=== false || cprmismatcherrormessage=== false ) && item.value.required==='true' && submited===true )? 'contact__input contact__input--error':'contact__input'"
                                type="tel" placeholder="{{item.value.name}}">
                                <span>{{item.value.required}}</span>

                            </ion-input>
                            <ion-input clearOnEdit="false" [(ngModel)]="item.value.value" [disabled]="item.value.readonly" *ngIf="item.value.ld_brugervendtnoegle === 'surveyscore'" [ngClass]="(!item.value.value && item.value.required==='true' && submited===true)? 'contact__input contact__input--error':'contact__input'"
                                type="tel" placeholder="{{item.value.name}}">
                                {{item.value.required}}
                            </ion-input>

                        </ion-item>
                        <ion-item *ngIf="item.value.type === 'dropdown'">
                            <ion-label class="contact__label" stacked color="">{{item.value.name}}</ion-label>
                            <ion-select [(ngModel)]="item.value.slctditem" #s (ionChange)="updateSelect(s,item)" [ngClass]="(submited===true && item.value.required==='true' && !item.value.slctditem)? 'contact__select contact__select--error':'contact__select'" [disabled]="item.value.readonly"
                                [selectOptions]="{ mode: 'ios' }" okText="{{contactContent.selectok}}" cancelText="{{contactContent.selectcancel}}">
                                <!-- <ion-option *ngIf="item.value.selected_index"  value="{{item.value.slctditem}}" selected="{{tem.value.slctditem}}">{{item.value.slctditem}}</ion-option> -->
                                <ion-option *ngFor="let optionitem of item.value.selected_list; let p = index;" selected="({{optionitem}} == {{item.value.slctditem}}) ? 'true' : null" value="{{optionitem}}">
                                    {{optionitem}}
                                </ion-option>
                            </ion-select>

                        </ion-item>
                        <ion-item *ngIf="item.value.type === 'checkbox'">
                            <ion-checkbox class="contact__checkbox" [(ngModel)]='termsModel' slot="start" item-left checked="true" (ionChange)="termsAccept($event)"></ion-checkbox>
                            <ion-label class="contact__label" text-left>{{item.value.name}}</ion-label>
                            <ion-icon (click)="openTerms()" class="contact__icon" slot="end" item-right mode="ios" name="information-circle-outline"></ion-icon>
                        </ion-item>
                        <div *ngIf="item.value.required==='true' && item.value.type === 'input' && !item.value.value && submited===true">
                            <span padding-left #errorinput class="login__error alert alert-danger" *ngIf="!item.value.value">{{contactContent.errormessage}}</span>
                        </div>
                        <div *ngIf="item.value.required==='true' && item.value.type === 'dropdown' && submited===true">
                            <span #errordropdown padding-left class="login__error alert alert-danger" *ngIf="!item.value.slctditem">{{contactContent.errormessage}}</span>
                        </div>
                        <div *ngIf="item.value.required==='true' && item.value.ld_brugervendtnoegle === 'cpr' && submited===true && cprinvaliderror=== false ">
                            <span #errordropdown padding-left class="login__error alert alert-danger" *ngIf="item.value.value">{{contactContent.cprformaterrormessage}}</span>
                        </div>
                        <div *ngIf="item.value.required==='true' && item.value.ld_brugervendtnoegle === 'cpr' && submited===true && cprmismatcherrormessage=== false ">
                            <span #errordropdown padding-left class="login__error alert alert-danger" *ngIf="item.value.value">{{contactContent.cprmismatcherrormessage}}</span>
                        </div>
                    </ng-template>
                    <button class="contact__send" (click)="submitform()" *ngIf="submitbutton" ion-button [disabled]="!termsModel || errorinput=='undefined' ||errordropdown=='undefined'" round>{{submitbutton.name}}</button>
                    <button class="contact__cancel" (click)="goback()" ion-button round>{{cancelbutton.name}}</button>
                </ion-list>
            </div>
        </div>
    </div>
</ion-content>