// @import "../../assets/sass/variables";
@import "../../theme/variables";

.header {
    background: $primary;
    background: var(--primary);
    height: 80px;

    .toolbar-background,
    .toolbar-background-ios {
        height: 100%;
        background: transparent;
        height: 64px;
    }

    .toolbar-title {
        color: $primarytext_color;
        color: var(--primarytext_color);
        padding-left: 0;
        line-height: 1.6;
    }

    .title-md {
        margin-top: 0;

        @media (min-width: map-get($grid-breakpoints, xxl)) {
            // display: none;
            width: 96%;
        }
    }

    .button-ios .header__homebtn {
        margin-top: -6.4px;
    }

    .toolbar-title-md {
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;

        .header__logo {
            padding-bottom: 1.6px;
            height: 40px; //1.95em;
            object-fit: scale-down; //contain;
            width: 150px; //129px;
            padding-top: 9px; //.2em;
            @media (min-width: map-get($grid-breakpoints, xxl)) {
                margin-left: 0;
            }
        }

        .header__titletext {
            padding-bottom: 8px;
            height: 52px;
            padding-top: 6.4px;

            // margin-right: 13px;
            width: 88%;
            padding-left: 12%;
        }
    }

    .toolbar-title-ios {
        // margin-top: .7em;
        font-size: 19.2px;

        .header__logo {
            height: 40px; //1.95em;
            object-fit: scale-down;
            width: 150px; //129px;
            // padding-bottom: 0.29em;
       
        }
    }

    .toolbar-ios {
        padding-top: 0;
        margin-top: -4.8px;
    }

    &.header-ios {
        height: 76px !important;
        padding-top: 28px !important;

        .header__topic-container {
            text-align: center;
            // margin-top: -0.8em !important;
            margin-top: -7px !important;
        }
    }

    &.header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border: 0;
    }

    &.header-md {
        height: 76px;
        padding-top: 28px;

        > .header__topic-container {
            margin-top: -13px;
        }
        
    }
    @media (min-width: map-get($grid-breakpoints, xxl)) {
        &.header-md {
            padding-top: 15px;
        }
    }

    &__home {
        color: $primarytext_color;
        color: var(--primarytext_color);
    }

    &__back {
        color: $primarytext_color;
        color: var(--primarytext_color);
    }

    &__backtxt {
        font-size: 16px;
    }

    &__backbtn {
        background: transparent !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    &__showback {
        > .back-button {
            display: block;
        }
    }

    &__hideback {
        > .back-button {
            display: none;
        }
    }

    &__homebtn {
        background: transparent !important;
        -webkit-box-shadow: none;
        box-shadow: none;
        display: none;

        &.button-md {
            margin-top: 3.2px;

            // margin-left: -0.8em;
       
        }

        &.button-ios {
            margin-left: -6.4px;
        }
    }

    &__homebtnsccrolloff {
        margin-left: 0;
        color: $primarytext_color;
        color: var(--primarytext_color);
        background: transparent !important;
        -webkit-box-shadow: none;
        box-shadow: none;

        &.button-md {
            margin-top: 6.4px;
            margin-left: 0;
        }
    }

    &__notificationsbtn {
        margin-left: 0;
        background: transparent !important;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-top: 5.6px;
        margin-right: -10px;
        color: $primarytext_color;
        color: var(--primarytext_color);

        &.button-md {
            margin-top: -42px;
        }
    }

    &__notificationcount {
        border-radius: 50px;
        font-size: 10px;
        position: absolute;
        margin-top: -9px;
        padding-top: 4px;
        margin-left: -9px;
        height: 18px;
        width: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: $primarytext_color;
        color: var(--primarytext_color);
        background-color: var(--buttonspanelstext_color);
        color: var(--backbuttonspanels);
    }

    .button .button-md .button-default .button-default-md .header__homebtn .header__homebtn--btnposition {
        position: absolute;
        margin-top: -8px;
        z-index: 9999;
    }

    .button-md .button-default-md .header__homebtn .header__homebtn--btnposition {
        position: absolute;
        margin-top: -8px;
        z-index: 9999;
    }

    &__menuicon {
        color: $primarytext_color;
        color: var(--primarytext_color);
        display: block !important;

        .icon-md {
            font-size: 26px;
        }

        .icon {
            font-size: 26px;
        }
    }

    &__notifications {
        color: $primarytext_color;
        color: var(--primarytext_color);
        display: block !important;
    }

    &__title {
        color: $primarytext_color;
        color: var(--primarytext_color);
        font-size: 19.2px !important;
    }

    &__backtlt {
        .title-md {
            // width: 70%;
            margin-right: 42px;
        }

        @media (min-width: map-get($grid-breakpoints, xxl)) {
            .title-md {
                // display: none;
                width: 100%;
            }
        }
    }

    .back-button {
        color: $primarytext_color !important;
        color: var(--primarytext_color) !important;
        margin: 0;
        text-transform: capitalize;

        .back-button-icon {
            font-size: 30px;
        }

        .back-button-icon-md {
            padding-right: 12px;
            padding-left: 0.5em;
        }
    }

    .back-button-ios {
        margin-right: 1.5px;
        margin-left: 3px;
    }

    &__titletext {
        animation: fadein 3s;
        -moz-animation: fadein 3s;

        /* Firefox */
        -webkit-animation: fadein 3s;

        /* Safari and Chrome */
        -o-animation: fadein 3s;

        /* Opera */
        text-overflow: ellipsis;
        overflow: hidden;

        //    margin-left: -0.3em;
        //margin-left: 0em;
        @keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @-moz-keyframes fadein {
            /* Firefox */
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @-webkit-keyframes fadein {
            /* Safari and Chrome */
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @-o-keyframes fadein {
            /* Opera */
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    &__topic {
        background: $buttonspanelstext_color;
        background: var(--buttonspanelstext_color);
        color: var(--backbuttonspanels);
        margin-top: 0;
        text-align: center;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        text-transform: none;
        font-size: 19.2px;
        box-shadow: none;

        // transform: translateX(-50%) scaleX(1) translateY(0);
        transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        opacity: 0;

        &--active {
            //   transform: translateX(-0%) scaleX(1) translateY(0);
            opacity: 1;
        }
    }

    &__topic-container {
        text-align: center;
        margin-top: -6.4px;
    }
}
