<header-viewer [hidemenu]="true" [pagetitle]="" [showhome]="true" [topic]="slctopic">
</header-viewer>

<ion-content class="searchdetails">
    <back-viewer class="searchdetails__back" [pagetitle]="pagetitle"></back-viewer>
    <div class="searchdetailsmobile" padding>
        <h3 *ngIf="heading" class="searchdetails__box_heading"> {{heading}}</h3>
        <div *ngIf="searchselectedItem">
            <img *ngIf="image" class="searchdetails__bg-img" src="{{billedeUrl}}" />
            <div *ngIf="bilagName" class="searchdetails__download">
                <p class="searchdetails__downloadlink" margin (click)="downloadPdf($event)">
                    <ion-icon name="cloud-download"></ion-icon>
                </p>
            </div>
        </div>
        <div *ngIf="teaser && image" class="searchdetails__shadedcontainer">
        </div>
        <div *ngIf="teaser && !image" class="searchdetails__shadednobgcontainer">
        </div>
        <span *ngIf="teaser && image" class="searchdetails__txtcontainer" padding [innerHtml]="teaser">
        </span>
        <span *ngIf="teaser && !image" class="searchdetails__txtnobgcontainer" padding [innerHtml]="teaser">
        </span>
        <div *ngIf="searchselectedItem" class="searchdetails__content" padding>
            <ng-template ngFor let-item [ngForOf]="detailsparagraphs" let-i="index" [ngForTrackBy]="trackByFn">
                <div class="searchdetails__item">
                    <div id="{{i}}" *ngIf="item.indexOf('<a')!==0 && item.indexOf('<iframe')==-1" [innerHtml]="item">
                    </div>

                    <div id="{{i}}" *ngIf="item.indexOf('<a')==0">
                        <customanchor-viewer [content]="item"></customanchor-viewer>
                    </div>
                </div>
            </ng-template>
            <div *ngIf="iframedata && iframedata.length>0" class="searchdetails__item">
                <videoswipe-viewer [alliframes]="iframedata"></videoswipe-viewer>
            </div>
        </div>


    </div>
</ion-content>