<header-viewer [hidemenu]="true" [pagetitle]="pagetitle" [showhome]="true" [topic]="slctopic">
</header-viewer>
<ion-content #alldetails class="alldetails">
  <back-viewer [pagetitle]="heading"></back-viewer>


  <div class="alldetails__container">
    <tabsdetails-viewer [tabs]="tabstoDisplay" #tabsviewer></tabsdetails-viewer>
   <content-viewer></content-viewer>
  </div>
</ion-content>