<header-viewer [showback]="false">
</header-viewer>
<ion-content class="stressmodal">
    <div class="stressmodalmobile">
        <div class="stressmodal__closecontainer">
            <button end class="stressmodal__closeicon" (click)="closemodal()" ion-button menuClose>
                <ion-icon class="stressmodal__icon" name="close"></ion-icon>
            </button>

        </div>
        <h4 class="stressmodal__heading" *ngIf="stressDetailsdata && pagetitle" text-center>{{pagetitle}}</h4>
        <div *ngIf="stressDetailsdata && contacttextContent" padding>
            <div>
                <ng-template ngFor let-item [ngForOf]="stressDetailsdata" let-i="index" [ngForTrackBy]="trackByFn">
                    <div class="stressmodal__items">
                        <p class="stressmodal__label">{{item.name}}:</p>
                        <p *ngIf="item.value!= null ">{{item.value}}</p>
                        <p *ngIf="item.value === null">{{contacttextContent.formvalueundefined}}</p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <ion-content>