<header-viewer [showback]="true">
</header-viewer>



<ion-content  class="login">
    <div *ngIf="isLoading === true" class="spinnercontainer">
        <ion-spinner name="ios"></ion-spinner>
    </div>
        
    <div padding  *ngIf="loginData" class="loginmobile">
            <h4 text-center class="login__heading">{{loginData.heading}}</h4>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div *ngIf="loginData">
                    <ion-list>
                        <ion-item>
                            <ion-label stacked class="login__label">{{loginData.username}} </ion-label>
                            <ion-input class="login__input"  type="text" clearOnEdit="false" clearInput="true" placeholder="{{loginData.username}}" formControlName="userid"></ion-input>
                        </ion-item>
                        <div class="login__line"></div>
                        <ion-item>
                            <ion-label stacked class="login__label">{{loginData.password}} </ion-label>
                            <ion-input class="login__input" type="password" clearOnEdit="false" clearInput="true" placeholder="{{loginData.password}}"  formControlName="password"></ion-input>
                        </ion-item>
                        <div class="login__line"></div>
                    </ion-list>
                    <div *ngIf="error">
                        <div class="login__error">{{loginData.errormsg}}</div>
                    </div>
                    <div *ngIf="serviceerror">
                        <div class="login__error">{{serviceerrormsg}}</div>
                    </div>
                </div>
                <button ion-button type="submit" id="Fortsæt til login" value="Fortsæt til login" [disabled]="!loginForm.valid" class="login__login-button">{{loginData.submit}}</button>

                <button ion-button type="button" (click)="forgetpassword($event)" class="login__forgetpwd">{{loginData.forgetpassword}}</button>
            </form>
        </div>
</ion-content>