@import "../../assets/sass/variables";

.login {
    line-height: 1.5em;
    margin-top: 70px;
    margin-bottom: 4em;
    font-size: $fontsize;
    font-size: var(--fontsize);
    font-weight: $fontweight;
    font-weight: var(--fontweight);


    &__label {
        font-size: 15px !important;
        color: $color-dark-black !important;
        font-weight: 300;
    }

    &__input {
        input {
            padding: 15px !important;
            font-weight: normal;
            background: #ecf0f2;
            color: #000;
            border-radius: .4em;
        }
    }

    &__login-button {
        background: var(--primary) !important;
        color: var(--primarytext_color) !important;
        width: 100%;
        border-color: var(--primary) !important;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }

    &__forgetpwd {
        background: var(--primarytext_color) !important;
        color: var(--primary) !important;
        border: none;
        width: 100%;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        margin-bottom: 400px;
    }

    &__error {
        color: $color-error-red;
        font-size: 1em;
        text-align: center;
        margin: .2em;
        // font-weight: 500;
    }

    &__heading {
        // padding-bottom: 1em;
   
    }

    .item-block, .item-inner {
        border: none !important;
        box-shadow: none !important;
    }

    &__line {
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        margin-bottom: .5em;
    }

    .item-block:last-child .item-inner {}

    @media (max-width: map-get($grid-breakpoints, xxl)) {
        .loginmobile {
            margin-bottom: 4em;
        }
    }

    @media (min-width: map-get($grid-breakpoints, xxl)) {
        .loginmobile {
            // display: none;
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            min-height: 100%;
            max-width: 960px;
            padding: 16px;
            margin: 0 auto;
        }
    }
}
