@import "../../assets/sass/variables";

.navigationbar {
  margin-top: 5em;
  background-color: var(--buttonspanelstext_color);
  color: var(--backbuttonspanels);
  position: absolute;
  height: 3em;
  z-index: 9999;
  width: 101%;
  margin-left: -.4em;
  vertical-align: middle;
  line-height: 3em;;

  &__container {
    margin-left: 2.5em;

    .ion-ios-arrow-forward {
      text-align: center;
      vertical-align: middle;
    }
  }

  &__item-text {
    margin-right: .5em;
    background-color: var(--buttonspanelstext_color);
    color: var(--backbuttonspanels);
    font-size: 1em;
    cursor: pointer;
    margin-left: .1em;
  }

  &__navitem {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 1.1em;

    &:last-child{
      pointer-events: none;
    }
  }

}
@media (max-width: map-get($grid-breakpoints, xxl)) {
  .navigationbar {
    display: none;
  }
}
@media (min-width: map-get($grid-breakpoints, xxl)) {
  .navigationbar {
    display: block;
  }
}

