<header-viewer [hidemenu]="true" [pagetitle]="title" [showhome]="true">
</header-viewer>



<ion-content padding class="settings">

  <div *ngIf="settings" class="settingsmobile">
    <h4 text-center class="settings__heading">{{settings.heading}}</h4>
    <div>

        <div class="settings__accountcontainer">
            <div class="settings__category">
              <ion-label class="settings__labelheading" text-center>
                <ion-icon class="settings__headingicon" name="person"></ion-icon> {{settings.account}}
              </ion-label>
            </div>
            <ion-list>
            <ion-item class="settings__item">
              <ion-thumbnail item-start>
                  <img class="settings__img" src="http://connect.carex.dk/config/assets/imgs/user2.png">
              </ion-thumbnail>
              <h2>{{userinfo.brugernavn}}</h2>
              <p>{{userinfo.username}}</p>
              </ion-item> 
            </ion-list>
          </div>



      <div  class="settings__container">
        <div class="settings__category">
          <ion-label class="settings__labelheading" text-center>
            <ion-icon class="settings__headingicon" ios="ios-notifications-outline"></ion-icon> {{settings.notificationsheading}}
          </ion-label>
        </div>
        <ion-list>
          <ion-item class="settings__item">
            <ion-icon class="settings__icon" slot="start" item-left name="notifications"></ion-icon>
            <ion-label class="settings__label" text-center>{{settings.push}}</ion-label>
            <ion-toggle  (ionChange)="toogleNotifications($event)" checked="{{notificationStatus}}" mode="ios" slot="end"></ion-toggle>
          </ion-item>
          <ion-item class="settings__item">
            <ion-icon class="settings__icon" slot="start" item-left name="mail"></ion-icon>
            <ion-label class="settings__label" text-center>{{settings.email}}</ion-label>
            <ion-toggle disabled  (ionChange)="email($event)"  mode="ios" slot="end" checked="true"></ion-toggle>
          </ion-item>
        </ion-list>
      </div>
<!-- 
      <div  class="settings__container">
        <div class="settings__category">
          <ion-label class="settings__labelheading" text-center>
            <ion-icon class="settings__headingicon" ios="ios-flag-outline"></ion-icon> {{settings.languageheading}}
          </ion-label>
        </div>
        <ion-list>
          <ion-item class="settings__item" (click)="selectLang()">
            <ion-icon class="settings__icon" slot="start" item-left name="flag"></ion-icon>
            <ion-label class="settings__label" text-center>{{settings.language}}</ion-label>
            <button class="settings__view" ion-button clear item-end>
                <ion-icon mode="ios" ios="ios-open" md="ios-open"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
      </div> -->


      <!-- <ion-item  class="changelanguage__langitem">
                        <ion-thumbnail item-start>
                            <img class="changelanguage__img" src="">
                        </ion-thumbnail>
                        <h2>lang</h2>
                        <p>losfjoksdsdsds</p>
                        <button class="changelanguage__langdetailview" ion-button clear item-end>
                            <ion-icon name="arrow-forward"></ion-icon>
                        </button>
                    </ion-item>
         -->



      <!-- <ion-list>
    <ion-item>
      <ion-icon item-left name="notifications"></ion-icon>
      <ion-label> Push Notifikationer</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon item-left name="mail"></ion-icon>
      <ion-label> Email Notifikationer</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon ios="ios-flag" md="md-flag" item-left></ion-icon>
      <ion-label>change language</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item> -->


      <!-- <ion-item>
      <ion-icon item-left name="contact"></ion-icon>
      <ion-label> Husk identitet</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item> -->
      <!-- <ion-item>
      <ion-icon item-left name="map"></ion-icon>
      <ion-label> Location</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon item-left name="paper"></ion-icon>
      <ion-label> News Letters</ion-label>
      <ion-toggle checked="false"></ion-toggle>
    </ion-item> -->

      <!-- </ion-list> -->

    </div>
  </div>
</ion-content>

<!-- <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->