.spinner {
    position: absolute;
    margin: auto;
    /* top: 0; */
    left: 0;
    bottom: 0;
    right: 0;
    height: 85px;
    text-align: center;
    /* background: #3e3e3e; */
    opacity: 1;
    height: 100%;
    z-index: 999999;
    width: 14%;
    ion-spinner {
        color: red;
        // top: 40%;
        // &.overlay {
        //     /* Absolute Center Spinner
        //     color: #000000 !important;
        //     position: fixed !important;
        //     z-index: 999 !important;
        //     height: 4em !important;
        //     width: 4em !important;
        //     overflow: show;
        //     margin: auto;
        //     top: 0;
        //     left: 0;
        //     bottom: 0;
        //     right: 0;
        //     /* Transparent Overlay
        //     &:before {
        //         content: '';
        //         display: block;
        //         position: fixed;
        //         top: 0;
        //         left: 0;
        //         width: 100%;
        //         height: 100%;
        //         background-color: rgba(0, 0, 0, 0.3);
        //     }
        // }
        //     * {
        //         stroke: blue;
        //       }
        //       &.spinner-circles circle,
        //       &.spinner-bubbles circle,
        //       &.spinner-dots circle {
        //         fill: blue;
        //       }
    }
}

.spinnercontainer {
    display: block;
    position: absolute;
    z-index: 99999;
    height: 100%;
    width: 100%;
    color: var(--spinner_color);
    &--home {
        min-height: 600px;
        height: auto;
    }
}

//BROWSER
.spinner-md-ios {
    color: inherit;
}

.spinner-md-ios svg [fill] {
    fill: inherit;
}

.spinner-md-ios line,
.spinner-md-ios-small line {
    stroke: currentColor;
}

//APP
.spinner-ios-ios {
    color: inherit;
}

.spinner-ios-ios svg [fill] {
    fill: inherit;
}

.spinner-ios-ios line,
.spinner-ios-ios-small line {
    stroke: currentColor;
}