.footer-md::before,
.header-md::after,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before,
.tabs-md[tabsPlacement="top"] > .tabbar::after {
    background: none;
    content: none;
}

body {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

// body::-webkit-scrollbar {
//     width: 0px;
//     background: transparent;
// }

// html::-webkit-scrollbar {
//     width: 0px;
//     background: transparent;
// }
