

// $font-stack:    Helvetica, sans-serif;
//Fontawesome
// $fa-font-path: $font-path;

//@import "font-awesome";'
// @import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
//@import "font-awesome";'
// @import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';

$fa-font-path : "../node_modules/@fortawesome/fontawesome-free/webfonts";
// @import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";


// theme
$primary: #595959;

$gradient: #595959;
$submenu_background:#7F7F7F;
$submenu_text_color:#7F7F7F;
$submenu_buttonbackground:#7F7F7F;
$submenu_buttontext_color:#7F7F7F;
$primarytext_color: #F9F6ED;
$buttonbackground: #595959;
$buttonspanels: #F9F6ED;
$buttonspanelstext_color: #770051;
$pagecontent: #F9F6ED;
$menuactive: #072154;
$menuinactive: #BFBFBF;
$links: #0000ff;
$fontsize: 1.2em;
$fontweight: 300;
$notification-read:#FFF;
$notification-unread:#e6f7ff;
$menuactive_textcolor: #fff;
$menuinactive_textcolor: #fff;
$pagecontent_text_color: #000;




//local variables
$color-white: #FFF;
$color-highlight-green: #76B832;
$color-menu-gray:#1a1a1a;
$color-text-gray: #DDDDE0;
$color-secondary-gray:#D3D3D3;
$color-primary-gray:#696969;
$color-error-red: #FF0033;
$color-panel-gray:#e6e6e6;
$spinner_color:#696969;
$fontsize: 1.2em;
$fontweight:300;
$color-dark-black: #000;
$black: #000;
$color-light-blue:	#87CEFA;
$color-lightgray: #e9ecef;
$full-height: 100%;
$full-width: 100%;
$background-gray: #e9ecef;
$shadow-color: rgba(0, 0, 0, .1);
$background-dark-gray:#353434;
$minimum-priority: 50;
$chat-green-color:#5BC236;
$fa-font-path:  "../fonts" !default; // this is for font awesome
$color-lightgray-background: #f8f9fa;





// new color  for tab and border 
$color-border: #E0E0E0;
$color-highlight-gray: rgb(166,166,166);
$color-background-gray : rgb(241,241,241);
$border-shadow:  rgba(166,166,166, .4);
$gray-table-highlight: #57595D;
$label-color-black:#3e3e3e;
$listitem-color-gray:#dedede;



// Service replicate for IE support
$primary: #595959;
$gradient: #595959;
$submenu_background:#7F7F7F;
$submenu_text_color:#7F7F7F;
$submenu_buttonbackground:#7F7F7F;
$submenu_buttontext_color:#7F7F7F;
$primarytext_color: #F9F6ED;
$buttonbackground: #595959;
$submenu_background:#7F7F7F;
$submenu_buttonbackground:#7F7F7F;
$submenu_buttontext_color:#7F7F7F;
$buttonspanels: #F9F6ED;
$buttonspanelstext_color: #770051;
$pagecontent: #F9F6ED;
$menuactive: #072154;
$menuinactive: #BFBFBF;
$links: #0000ff;
$fontsize: 1.2em;
$fontweight: 300;
$menubackground: #ededed;
$notification-read:#FFF;
$notification-unread:#e6f7ff;
$menuactive_textcolor: #fff;
$menuinactive_textcolor: #fff;
$pagecontent_text_color: #000;
